<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Login / Starting Page -->
        <activity
            android:name=".activities.LoginPage"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Home -->
        <activity
            android:name=".activities.HomePage"
            android:exported="false" />

        <!-- Create Account -->
        <activity
            android:name=".activities.CreateAccount"
            android:exported="false" />

        <!-- Forgot Password -->
        <activity
            android:name=".activities.ForgotPassword"
            android:exported="false" />

        <!-- Profile -->
        <activity
            android:name=".activities.ProfilePage"
            android:exported="false" />

        <!-- Settings -->
        <activity
            android:name=".activities.SettingsPg"
            android:exported="false" />

        <!-- Pantry -->
        <activity
            android:name=".activities.PantryPage"
            android:exported="false" />

        <!-- Add / Edit Ingredient -->
        <activity
            android:name=".activities.IngredientPage"
            android:exported="false" />

        <!-- Recipes -->
        <activity
            android:name=".activities.RecipesPage"
            android:exported="false" />

        <!-- Recipe Details -->
        <activity
            android:name=".activities.DetailRecipe"
            android:exported="false" />

        <activity
            android:name=".activities.SuggestedRecipesPage"
            android:exported="false" />

        <activity android:name=".activities.RecipeDetailSuggested"
            android:exported="false" />

    </application>

</manifest>